<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pet Clinic Index</title>
</head>
<body>
<h1 th:text="'Index Page'">Index Page</h1>

</body>
</html>

<!--recipe app full path for index file and controller:-->
<!--/Users/noreenmadden/code/udemy_java_projects/SpringRecipeApp/recipeApp/src/main/resources/templates/index.html-->
<!--/Users/noreenmadden/code/udemy_java_projects/SpringRecipeApp/recipeApp/src/main/java/com/recipeApp/recipeApp/controllers/IndexController.java-->

<!--/Users/noreenmadden/code/udemy_java_projects/spring_petClinic_git/spring-pet-clinic-app/pet-clinic-web/src/resources/templates/index.html-->
<!--/Users/noreenmadden/code/udemy_java_projects/spring_petClinic_git/spring-pet-clinic-app/pet-clinic-web/src/main/java/guru/springframework/sfgpetclinic/controllers/IndexController.java-->